// fixme: cant resolve
// @import "ui/generic.styl"
@import "../../node_modules/@kuen/ui/src/generic.styl"

// basic-shadow
.lg-header, .lg-rail-sidebar, .lg-article {
  elevation(1)
}

.lg-article {
  &:not(.lg-content) {
    elevation(1)
  }

  section {
    elevation(1)

    elevationTransition()

    &:hover {
      elevation(8)
    }
  }
}
