// fixme: cant resolve alias
@import "../../node_modules/@kuen/ui/src/setting.styl"
@import "./settings/level.styl"

@import "./lg-content.styl"
@import "./lg-header.styl"
@import "./lg-sidebar.styl"

// basic-shadow
.lg-header, .lg-rail-sidebar, .lg-article {
  elevation(1)
}

.lg-article {
  &:not(.lg-content) {
    elevation(1)
  }

  section {
    // card
    border 0
    elevation(1)
    elevationTransition()

    &:hover {
      elevation(8)
    }
  }
}

.am-comment-avatar {
  border 0
}

.am-nav > li > a:focus, .am-nav > li > a:hover {
  background transparent
}
